@media screen and (max-width: 480px) {
    .infoWarn {
        display: grid;
    }


    .desktop {
        display: none;
    }
}

@media screen and (min-width: 481px) {
    .desktop {
        display: grid;
    }

    .infoWarn {
        display: none;
    }
}