::-webkit-scrollbar {
    width: 0;
}

.bg {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.b01 {
    background-image: url(https://picsum.photos/3000/2000?random=187676546);
}

.b02 {
    background-image: url(https://picsum.photos/3000/2000?random=287676546);
}

.b03 {
    background-image: url(https://picsum.photos/3000/2000?random=387676546);
}

.b04 {
    background-image: url(https://picsum.photos/3000/2000?random=487676546);
}

.b05 {
    background-image: url(https://picsum.photos/3000/2000?random=587676546);
}

.b06 {
    background-image: url(https://picsum.photos/3000/2000?random=687676546);
}

.b07 {
    background-image: url(https://picsum.photos/3000/2000?random=787676546);
}

.b08 {
    background-image: url(https://picsum.photos/3000/2000?random=887676546);
}

.b09 {
    background-image: url(https://picsum.photos/3000/2000?random=987676546);
}

.b10 {
    background-image: url(https://picsum.photos/3000/2000?random=1087676546);
}

/* ----- ----- ----- */

.b11 {
    background-image: url(https://picsum.photos/3000/2000?random=1187676546);
}

.b12 {
    background-image: url(https://picsum.photos/3000/2000?random=1287676546);
}

.b13 {
    background-image: url(https://picsum.photos/3000/2000?random=1387676546);
}

.b14 {
    background-image: url(https://picsum.photos/3000/2000?random=1487676546);
}

.b15 {
    background-image: url(https://picsum.photos/3000/2000?random=1587676546);
}

.b16 {
    background-image: url(https://picsum.photos/3000/2000?random=1687676546);
}

.b17 {
    background-image: url(https://picsum.photos/3000/2000?random=1787676546);
}

.b18 {
    background-image: url(https://picsum.photos/3000/2000?random=1887676546);
}

.b19 {
    background-image: url(https://picsum.photos/3000/2000?random=1987676546);
}

.b20 {
    background-image: url(https://picsum.photos/3000/2000?random=2087676546);
}

/* ----- ----- ----- */


.b21 {
    background-image: url(https://picsum.photos/3000/2000?random=2187676546);
}

.b22 {
    background-image: url(https://picsum.photos/3000/2000?random=2287676546);
}

.b23 {
    background-image: url(https://picsum.photos/3000/2000?random=2387676546);
}

.b24 {
    background-image: url(https://picsum.photos/3000/2000?random=2487676546);
}

.b25 {
    background-image: url(https://picsum.photos/3000/2000?random=2587676546);
}

.b26 {
    background-image: url(https://picsum.photos/3000/2000?random=2687676546);
}

.b27 {
    background-image: url(https://picsum.photos/3000/2000?random=2787676546);
}

.b28 {
    background-image: url(https://picsum.photos/3000/2000?random=2887676546);
}

.b29 {
    background-image: url(https://picsum.photos/3000/2000?random=2987676546);
}

.b30 {
    background-image: url(https://picsum.photos/3000/2000?random=3087676546);
}

/* ----- ----- ----- */


.b31 {
    background-image: url(https://picsum.photos/3000/2000?random=3187676546);
}

.b32 {
    background-image: url(https://picsum.photos/3000/2000?random=3287676546);
}

.b33 {
    background-image: url(https://picsum.photos/3000/2000?random=3387676546);
}

.b34 {
    background-image: url(https://picsum.photos/3000/2000?random=3487676546);
}

.b35 {
    background-image: url(https://picsum.photos/3000/2000?random=3587676546);
}

.b36 {
    background-image: url(https://picsum.photos/3000/2000?random=3687676546);
}

.b37 {
    background-image: url(https://picsum.photos/3000/2000?random=3787676546);
}

.b38 {
    background-image: url(https://picsum.photos/3000/2000?random=3887676546);
}

.b39 {
    background-image: url(https://picsum.photos/3000/2000?random=3987676546);
}

.b40 {
    background-image: url(https://picsum.photos/3000/2000?random=4087676546);
}

/* ----- ----- ----- */

.b41 {
    background-image: url(https://picsum.photos/3000/2000?random=4187676546);
}

.b42 {
    background-image: url(https://picsum.photos/3000/2000?random=4287676546);
}

.b43 {
    background-image: url(https://picsum.photos/3000/2000?random=4387676546);
}

.b44 {
    background-image: url(https://picsum.photos/3000/2000?random=4487676546);
}

.b45 {
    background-image: url(https://picsum.photos/3000/2000?random=4587676546);
}

.b46 {
    background-image: url(https://picsum.photos/3000/2000?random=4687676546);
}

.b47 {
    background-image: url(https://picsum.photos/3000/2000?random=4787676546);
}

.b48 {
    background-image: url(https://picsum.photos/3000/2000?random=4887676546);
}

.b49 {
    background-image: url(https://picsum.photos/3000/2000?random=4987676546);
}

.b50 {
    background-image: url(https://picsum.photos/3000/2000?random=5087676546);
}