@import url(style.photo.css);

@font-face {
    font-family: Pop;
    src: url(../fonts/Poppins.woff2);
}

body {
    font-family: Pop, Arial, Helvetica, sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
    scroll-behavior: smooth
}

body,
html {
    padding: 0;
    margin: 0
}

.bg {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 4px 5px #000;
}