::-webkit-scrollbar {
    width: 0;
}

.bg {
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.b01 {
    background-image: url(https://picsum.photos/3000/2000?random=1);
}

.b02 {
    background-image: url(https://picsum.photos/3000/2000?random=2);
}

.b03 {
    background-image: url(https://picsum.photos/3000/2000?random=3);
}

.b04 {
    background-image: url(https://picsum.photos/3000/2000?random=4);
}

.b05 {
    background-image: url(https://picsum.photos/3000/2000?random=5);
}

.b06 {
    background-image: url(https://picsum.photos/3000/2000?random=6);
}

.b07 {
    background-image: url(https://picsum.photos/3000/2000?random=7);
}

.b08 {
    background-image: url(https://picsum.photos/3000/2000?random=8);
}

.b09 {
    background-image: url(https://picsum.photos/3000/2000?random=9);
}

.b10 {
    background-image: url(https://picsum.photos/3000/2000?random=10);
}

/* ----- ----- ----- */

.b11 {
    background-image: url(https://picsum.photos/3000/2000?random=11);
}

.b12 {
    background-image: url(https://picsum.photos/3000/2000?random=12);
}

.b13 {
    background-image: url(https://picsum.photos/3000/2000?random=13);
}

.b14 {
    background-image: url(https://picsum.photos/3000/2000?random=14);
}

.b15 {
    background-image: url(https://picsum.photos/3000/2000?random=15);
}

.b16 {
    background-image: url(https://picsum.photos/3000/2000?random=16);
}

.b17 {
    background-image: url(https://picsum.photos/3000/2000?random=17);
}

.b18 {
    background-image: url(https://picsum.photos/3000/2000?random=18);
}

.b19 {
    background-image: url(https://picsum.photos/3000/2000?random=19);
}

.b20 {
    background-image: url(https://picsum.photos/3000/2000?random=20);
}

/* ----- ----- ----- */


.b21 {
    background-image: url(https://picsum.photos/3000/2000?random=21);
}

.b22 {
    background-image: url(https://picsum.photos/3000/2000?random=22);
}

.b23 {
    background-image: url(https://picsum.photos/3000/2000?random=23);
}

.b24 {
    background-image: url(https://picsum.photos/3000/2000?random=24);
}

.b25 {
    background-image: url(https://picsum.photos/3000/2000?random=25);
}

.b26 {
    background-image: url(https://picsum.photos/3000/2000?random=26);
}

.b27 {
    background-image: url(https://picsum.photos/3000/2000?random=27);
}

.b28 {
    background-image: url(https://picsum.photos/3000/2000?random=28);
}

.b29 {
    background-image: url(https://picsum.photos/3000/2000?random=29);
}

.b30 {
    background-image: url(https://picsum.photos/3000/2000?random=30);
}

/* ----- ----- ----- */


.b31 {
    background-image: url(https://picsum.photos/3000/2000?random=31);
}

.b32 {
    background-image: url(https://picsum.photos/3000/2000?random=32);
}

.b33 {
    background-image: url(https://picsum.photos/3000/2000?random=33);
}

.b34 {
    background-image: url(https://picsum.photos/3000/2000?random=34);
}

.b35 {
    background-image: url(https://picsum.photos/3000/2000?random=35);
}

.b36 {
    background-image: url(https://picsum.photos/3000/2000?random=36);
}

.b37 {
    background-image: url(https://picsum.photos/3000/2000?random=37);
}

.b38 {
    background-image: url(https://picsum.photos/3000/2000?random=38);
}

.b39 {
    background-image: url(https://picsum.photos/3000/2000?random=39);
}

.b40 {
    background-image: url(https://picsum.photos/3000/2000?random=40);
}

/* ----- ----- ----- */

.b41 {
    background-image: url(https://picsum.photos/3000/2000?random=41);
}

.b42 {
    background-image: url(https://picsum.photos/3000/2000?random=42);
}

.b43 {
    background-image: url(https://picsum.photos/3000/2000?random=43);
}

.b44 {
    background-image: url(https://picsum.photos/3000/2000?random=44);
}

.b45 {
    background-image: url(https://picsum.photos/3000/2000?random=45);
}

.b46 {
    background-image: url(https://picsum.photos/3000/2000?random=46);
}

.b47 {
    background-image: url(https://picsum.photos/3000/2000?random=47);
}

.b48 {
    background-image: url(https://picsum.photos/3000/2000?random=48);
}

.b49 {
    background-image: url(https://picsum.photos/3000/2000?random=49);
}

.b50 {
    background-image: url(https://picsum.photos/3000/2000?random=50);
}